.map__dynamic-no-ssr {
  width: 100%;
  margin-top: 20px;
}
.map__container {
  width: 100%;
  /* margin-top: 20px; */
  /* border: 1px solid red; */
}

.mapboxgl-map {
  width: 100% !important;
  border: 12px solid orange;
  border-radius: 12px;
}

.mapMeMarkerStyle {
  background-color: blue;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  left: -0.5rem;
  top: -0.5rem;
  position: relative;
  border-radius: 1.5rem 1.5rem 0;
  transform: rotate(45deg);
  border: 3px solid skyblue;
}

.mapBringerStyle {
  background-color: pink;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  left: -0.5rem;
  top: -0.5rem;
  position: relative;
  border-radius: 1.5rem 1.5rem 0;
  transform: rotate(45deg);
  border: 2px solid darkred;
}

.mapSelectedStyle {
  background-color: greenyellow;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  left: -0.5rem;
  top: -0.5rem;
  position: relative;
  border-radius: 1.5rem 1.5rem 0;
  transform: rotate(45deg);
  border: 2px solid green;
}

@keyframes slideIn {
  from {
    margin-top: 400px;
  }
  to {
    margin-top: 20px;
  }
}
@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}


.div__cluster {
  animation: fademyshitin 0.6s steps(5, end);
}

.div__cluster p {
  animation: roundedFont 0.6s steps(5, end);
  animation-delay: 0.9s;
}

@keyframes roundedFont {
  from {
    font-weight: 700;
  }

  to {
    font-weight: 300;
  }
}

@keyframes fademyshitin {
  from {
    margin-top: 100vh;
  }

  to {
    margin-top: 0;
  }
}

.p__cluster {
  font-size: 10px;
}


@keyframes transitionYo {
  from {
    border: 0px solid white;
    opacity: 0.7;
  }
  to {
    border: 12px solid black;
    opacity: 0.2;
  }
}
