.banner__container {
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: left top;
  position: fixed;
  top: 50px;
  height: auto;
  max-height: 500px;
  width: 100vw;
  margin: 0;
  object-fit: cover;
  left: 0;
  z-index: -1;
}
.banner__container > video {
  height: 100%;
  width: 100%;
}
