.me__pop-out__container {
  /* border: 1px solid blue; */
    background: black;
    position: absolute;
    width: 133px;
    top: 42px;
}

.me__pop-out__container > a {
  /* border: 1px solid red; */
  background: orange;
  color: black;
  font-family: 'Raleway';
  display: flex;
  align-items: center;
}
