.contained-height-width {
  width: 120px;
  height: 120px;
}

.editable-prof-pic__p {
  margin: 0;
  font-family: 'Raleway';
  color: white;
  position: absolute;
}

.editable-prof-pic__input {
  position: absolute;
  z-index: 12;
  margin-top: 20px;
}

#cc {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

#cc:hover #two {
  transform: translate(0px, 75px);
}
#cc:hover #three {
  transform: translate(0px, -75px);
}
#cc:hover #four {
  transform: translate(75px, 0px);
}
#cc:hover #five {
  transform: translate(-75px, 0px);
}

.circle {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}

#one {
  background-color: rgba(0, 0, 225, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

#two {
  background-color: orange;
  transition: 0.4s;
  opacity: 0.5;
}

#three {
  background-color: black;
  transition: 0.4s;
  opacity: 0.5;
}

#four {
  background-color: orange;
  transition: 0.4s;
  opacity: 0.5;
}
#five {
  background-color: grey;
  transition: 0.4s;
  opacity: 0.5;
}
