.circ-img__container {
  border: 5px solid orange;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  max-width: 300px;
  max-height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.circ-img__container__small {
  border: 5px solid orange;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
}

.circ-img__container__large {
  border: 5px solid orange;
  border-radius: 50%;
  height: 210px;
  width: 210px;
  max-width: 210px;
  max-height: 210px;
  min-width: 210px;
  min-height: 210px;
}

.dynamic-img__img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.dynamic-img__caption {
  color: white;
  font-size: 10px;
  font-family: Arial;
  text-align: center;
}
