.act__video>div {
  border: 9px solid orange;
  box-shadow: 27px 12px 162px -12px orange;
  background: yellow;
}

.act__video>div:hover {
  border: 9px solid white;
}

.act__container h2.act__performed-at__name {
  margin-top: 20px;
  color: white;
  background: orange;
  width: 50%;
  padding: 10px;
  text-shadow: none;
  font-family: Arial;
}
