.filters__container {
  position: absolute;
  top: 42%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  left: 7%;
  border: 1px solid orange;
  width: 220px;
  z-index: 10;
  padding: 10px;
}

.filters__container h4 {
  margin: 20px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  /* padding-top: 10px; */
}

.filters__container button {
  height: 34px;
  background: rgba(0, 0, 0, 0.9);
  color: white !important;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  border: none;
  margin-right: 2px;
  width: 150px;
  font-size: 18px;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .filters__container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 380px;

  }

  .filters__container button {
    /* width: 30%;
    background: orange;
    border-radius: 12px;
    border: 0px;
    min-width: 200px;
    padding: 15px;
    margin: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px; */
  }

  .full-width {
    width: auto;
  }
}
