.popout__hidden {
  display: none;
}
.popout__container {
  position: absolute;
  top: 33%;
  left: 10%;
  width: 30vw;
  color: white;
  height: auto;
  z-index: 106;
  box-shadow: 16px 14px 33px 9px black;
  border-radius: 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, orange, darkorange);
  border: 5px solid black;
  animation: bounceInPopout 0.3s ease-in;
}

.popout__heading {
  color: white;
  text-align: center;
  font-family: Arial;
  background: rgba(0, 0, 0, 0.6);
  border: 4px solid white;
  transform: skewY(-1deg);
  width: 100%;
  padding: 5px;
  text-shadow: 0 0;
  font-weight: 300;
  font-family: 'Courier New', Courier, monospace;
}

.popout__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid orange;
}

.popout__body {
  color: white;
  font-family: Arial;
  line-height: 26px;
  font-weight: 300;
}
.popout__container .btn-toolbar {
  justify-content: space-between !important;
  background: lightgrey;
  border: 3px solid white;
}
.popout__container button {
  max-width: 91px;
  max-height: 35px;
  margin: 10px !important;

}

@keyframes bounceInPopout {
  from {
    margin-top: 100vh;
  }
  to {
    margin-top: 10px;
  }
}
